@media (max-width: 1440px) {
    .owl-carousel .owl-prev {
        position: absolute;
        bottom: 24%;
        left: 162px;
        -webkit-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
        outline: none !important;
    }

    .owl-carousel .owl-next {
        position: absolute;
        bottom: 24%;
        left: 235px;
        -webkit-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
        outline: none !important;
    }
}

@media (max-width: 1368px) {
    .owl-carousel .owl-prev {
        position: absolute;
        bottom: 24%;
        left: 114px;
    }

    .owl-carousel .owl-next {

        position: absolute;
        bottom: 24%;
        left: 180px;
    }
}